<svg 
    width="16" 
    height="16" 
    viewBox="0 0 24 24" 
    xmlns="http://www.w3.org/2000/svg">
    style="margin-right: 8px"
    <title>Platzi</title>
    <path d="M10.6392 1.12698L2.48602 9.28198C2.12885 9.63879 1.84551 10.0625 1.65219 10.5289C1.45888 10.9953 1.35938 11.4952 1.35938 12C1.35938 12.5049 1.45888 13.0048 1.65219 13.4712C1.84551 13.9376 2.12885 14.3613 2.48602 14.7181L10.6412 22.8733C10.998 23.2304 11.4217 23.5138 11.8881 23.7071C12.3545 23.9004 12.8544 23.9999 13.3593 23.9999C13.8641 23.9999 14.364 23.9004 14.8304 23.7071C15.2968 23.5138 15.7205 23.2304 16.0773 22.8733L18.7963 20.1553L16.0773 17.4372L13.3593 20.1552L5.20312 12.0001L13.3583 3.84488L18.7953 9.28198L13.3583 14.7181L16.0763 17.4371L21.5134 12.0001C21.8707 11.6432 22.1542 11.2195 22.3476 10.753C22.5411 10.2865 22.6406 9.78647 22.6406 9.28148C22.6406 8.77649 22.5411 8.27645 22.3476 7.80997C22.1542 7.34349 21.8707 6.91971 21.5134 6.56288L16.0654 1.12688C15.7097 0.769679 15.287 0.486241 14.8215 0.292839C14.356 0.0994366 13.8569 -0.00012207 13.3528 -0.00012207C12.8487 -0.00012207 12.3496 0.0994366 11.8841 0.292839C11.4186 0.486241 10.9959 0.769679 10.6402 1.12688L10.6392 1.12698Z" fill="currentColor"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="16" height="16" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    